**Enunciado:** Realizar una herramienta ETL que permita obtener el datamart ventas por internet (Internet Sales) y ventas por revendedores (Reseller Sales) a partir de la base de datos operacional. Documentar las dimensiones que participan y las tablas de hechos (50%). (Octubre 22)

* ¿Cuáles son las dimensiones que participan?

* ¿Cuál es el nivel de granularidad de los datos?

* ¿Cuáles son los indicadores (Medidas) de cada tabla de hechos?

In [13]:
import pandas as pd
from sqlalchemy import create_engine, inspect
import yaml
import os

In [14]:
config_path = os.path.join(os.getcwd(), "config.yml")

with open(config_path, 'r') as f:
    config = yaml.safe_load(f)
    config_oltp = config['OLTP']
    config_olap = config['OLAP']

url_oltp = (f"mssql+pyodbc://{config_oltp['user']}:{config_oltp['password']}@{config_oltp['host']},{config_oltp['port']}/{config_oltp['dbname']}"
          f"?driver={config_oltp['drivername'].replace(' ', '+')}")

url_olap = (f"mssql+pyodbc://{config_olap['user']}:{config_olap['password']}@{config_olap['host']},{config_olap['port']}/{config_olap['dbname']}"
           f"?driver={config_olap['drivername'].replace(' ', '+')}")
oltp = create_engine(url_oltp)
olap = create_engine(url_olap)

Leer las tablas

In [15]:
def cargaSegura(engine, schema, table):
    inspector = inspect(engine)

    # Obtener columnas
    columnas = [col["name"] for col in inspector.get_columns(table, schema=schema)]
    columnas_problematicas = []

    # Intentar cargar tabla completa
    try:
        return pd.read_sql_table(table_name=table, con=engine, schema=schema)
    except Exception:
        pass

    # Detectar columnas problemáticas
    for col in columnas:
        try:
            pd.read_sql_query(
                f'SELECT TOP 10 "{col}" FROM "{schema}"."{table}"',
                con=engine
            )
        except Exception:
            columnas_problematicas.append(col)


    # Columnas buenas
    columnas_ok = [col for col in columnas if col not in columnas_problematicas]

    # Si no hay columnas válidas
    if not columnas_ok:
        print(f"⚠ La tabla {schema}.{table} no tiene columnas convertibles. Retornando dataframe vacío.")
        return pd.DataFrame()

    # Cargar solo columnas válidas
    query = (
        f'SELECT {", ".join([f"""\"{c}\"""" for c in columnas_ok])} '
        f'FROM "{schema}"."{table}"'
    )

    df = pd.read_sql_query(query, con=engine)
    return df


def extractHumanResources(conection):
    tablas = [
        "Shift", "Department", "Employee", "EmployeeDepartmentHistory", "EmployeePayHistory"
    ]
    humanResources = {}
    for tabla in tablas:
        df = cargaSegura(conection, "HumanResources", tabla)
        humanResources[tabla] = df
        
    return humanResources

def extractPerson(conection):
    tablas = [
        "PersonPhone", "PhoneNumberType", "Address", "AddressType",
        "StateProvince", "BusinessEntity", "BusinessEntityAddress", "BusinessEntityContact",
        "ContactType", "CountryRegion", "EmailAddress", "Password", "Person"
    ]
    person = {}
    for tabla in tablas:
        df = cargaSegura(conection, "Person", tabla)
        person[tabla] = df
        
    return person

def extractProduction(conection):
    tablas = [
        "Product", "ScrapReason", "ProductCategory", "ProductCostHistory", "ProductDescription",
        "ProductDocument", "ProductInventory", "ProductListPriceHistory", "ProductModel",
        "ProductModelIllustration", "ProductModelProductDescriptionCulture", "BillOfMaterials",
        "ProductPhoto", "ProductProductPhoto", "TransactionHistory", "ProductReview",
        "TransactionHistoryArchive", "ProductSubcategory", "UnitMeasure", "WorkOrder",
        "Culture", "WorkOrderRouting", "Document", "Illustration", "Location"
    ]
    production = {}
    for tabla in tablas:
        df = cargaSegura(conection, "Production", tabla)
        production[tabla] = df
        
    return production

def extractPurchasing(conection):
    tablas = [
        "ShipMethod", "ProductVendor", "Vendor", "PurchaseOrderDetail", "PurchaseOrderHeader"
    ]
    purchasing = {}
    for tabla in tablas:
        df = cargaSegura(conection, "Purchasing", tabla)
        purchasing[tabla] = df
        
    return purchasing

def extractSales(conection):
    tablas = [
        "CountryRegionCurrency", "CreditCard", "Currency", "CurrencyRate", "Customer",
        "PersonCreditCard", "SalesOrderDetail", "SalesOrderHeader",
        "SalesOrderHeaderSalesReason", "SalesPerson",
        "SalesPersonQuotaHistory", "SalesReason", "SalesTaxRate",
        "SalesTerritory", "SalesTerritoryHistory", "ShoppingCartItem",
        "SpecialOffer", "SpecialOfferProduct", "Store"
    ]
    sales = {}
    for tabla in tablas:
        df = cargaSegura(conection, "Sales", tabla)
        sales[tabla] = df
        
    return sales

In [16]:
humanResources =  extractHumanResources(oltp)
person = extractPerson(oltp)
production = extractProduction(oltp)
purchasing = extractPurchasing(oltp) #Funciona
sales = extractSales(oltp) #Funciona

C:\Users\USUARIO\AppData\Local\Temp;\ipykernel_16092\3610989036.py:5: SAWarning: Did not recognize type 'hierarchyid' of column 'OrganizationNode'
  columnas = [col["name"] for col in inspector.get_columns(table, schema=schema)]
e:\Universidad\Ingenieria de Sistemas\6 - Sexto Semestre\Ciencia de los Datos\Proyecto\ETL-proyecto\my_env\Lib\site-packages\pandas\io\sql.py:1725: SAWarning: Did not recognize type 'hierarchyid' of column 'OrganizationNode'
  self.meta.reflect(bind=self.con, only=[table_name], views=True)
e:\Universidad\Ingenieria de Sistemas\6 - Sexto Semestre\Ciencia de los Datos\Proyecto\ETL-proyecto\my_env\Lib\site-packages\pandas\io\sql.py:1725: SAWarning: Did not recognize type 'hierarchyid' of column 'OrganizationNode'
  self.meta.reflect(bind=self.con, only=[table_name], views=True)
C:\Users\USUARIO\AppData\Local\Temp;\ipykernel_16092\3610989036.py:5: SAWarning: Did not recognize type 'geography' of column 'SpatialLocation'
  columnas = [col["name"] for col in inspector.get_columns(table, schema=schema)]
e:\Universidad\Ingenieria de Sistemas\6 - Sexto Semestre\Ciencia de los Datos\Proyecto\ETL-proyecto\my_env\Lib\site-packages\pandas\io\sql.py:1725: SAWarning: Did not recognize type 'geography' of column 'SpatialLocation'
  self.meta.reflect(bind=self.con, only=[table_name], views=True)
e:\Universidad\Ingenieria de Sistemas\6 - Sexto Semestre\Ciencia de los Datos\Proyecto\ETL-proyecto\my_env\Lib\site-packages\pandas\io\sql.py:1725: SAWarning: Did not recognize type 'geography' of column 'SpatialLocation'
  self.meta.reflect(bind=self.con, only=[table_name], views=True)
C:\Users\USUARIO\AppData\Local\Temp;\ipykernel_16092\3610989036.py:5: SAWarning: Did not recognize type 'hierarchyid' of column 'DocumentNode'
  columnas = [col["name"] for col in inspector.get_columns(table, schema=schema)]
e:\Universidad\Ingenieria de Sistemas\6 - Sexto Semestre\Ciencia de los Datos\Proyecto\ETL-proyecto\my_env\Lib\site-packages\pandas\io\sql.py:1725: SAWarning: Did not recognize type 'hierarchyid' of column 'DocumentNode'
  self.meta.reflect(bind=self.con, only=[table_name], views=True)
e:\Universidad\Ingenieria de Sistemas\6 - Sexto Semestre\Ciencia de los Datos\Proyecto\ETL-proyecto\my_env\Lib\site-packages\pandas\io\sql.py:1725: SAWarning: Did not recognize type 'hierarchyid' of column 'OrganizationNode'
  self.meta.reflect(bind=self.con, only=[table_name], views=True)
C:\Users\USUARIO\AppData\Local\Temp;\ipykernel_16092\3610989036.py:5: SAWarning: Did not recognize type 'hierarchyid' of column 'DocumentNode'
  columnas = [col["name"] for col in inspector.get_columns(table, schema=schema)]
e:\Universidad\Ingenieria de Sistemas\6 - Sexto Semestre\Ciencia de los Datos\Proyecto\ETL-proyecto\my_env\Lib\site-packages\pandas\io\sql.py:1725: SAWarning: Did not recognize type 'hierarchyid' of column 'DocumentNode'
  self.meta.reflect(bind=self.con, only=[table_name], views=True)
e:\Universidad\Ingenieria de Sistemas\6 - Sexto Semestre\Ciencia de los Datos\Proyecto\ETL-proyecto\my_env\Lib\site-packages\pandas\io\sql.py:1725: SAWarning: Did not recognize type 'hierarchyid' of column 'OrganizationNode'
  self.meta.reflect(bind=self.con, only=[table_name], views=True)
e:\Universidad\Ingenieria de Sistemas\6 - Sexto Semestre\Ciencia de los Datos\Proyecto\ETL-proyecto\my_env\Lib\site-packages\pandas\io\sql.py:1725: SAWarning: Did not recognize type 'hierarchyid' of column 'OrganizationNode'
  self.meta.reflect(bind=self.con, only=[table_name], views=True)
e:\Universidad\Ingenieria de Sistemas\6 - Sexto Semestre\Ciencia de los Datos\Proyecto\ETL-proyecto\my_env\Lib\site-packages\pandas\io\sql.py:1725: SAWarning: Did not recognize type 'hierarchyid' of column 'OrganizationNode'
  self.meta.reflect(bind=self.con, only=[table_name], views=True)
e:\Universidad\Ingenieria de Sistemas\6 - Sexto Semestre\Ciencia de los Datos\Proyecto\ETL-proyecto\my_env\Lib\site-packages\pandas\io\sql.py:1725: SAWarning: Did not recognize type 'hierarchyid' of column 'OrganizationNode'
  self.meta.reflect(bind=self.con, only=[table_name], views=True)
e:\Universidad\Ingenieria de Sistemas\6 - Sexto Semestre\Ciencia de los Datos\Proyecto\ETL-proyecto\my_env\Lib\site-packages\pandas\io\sql.py:1725: SAWarning: Did not recognize type 'geography' of column 'SpatialLocation'
  self.meta.reflect(bind=self.con, only=[table_name], views=True)
e:\Universidad\Ingenieria de Sistemas\6 - Sexto Semestre\Ciencia de los Datos\Proyecto\ETL-proyecto\my_env\Lib\site-packages\pandas\io\sql.py:1725: SAWarning: Did not recognize type 'hierarchyid' of column 'OrganizationNode'
  self.meta.reflect(bind=self.con, only=[table_name], views=True)
e:\Universidad\Ingenieria de Sistemas\6 - Sexto Semestre\Ciencia de los Datos\Proyecto\ETL-proyecto\my_env\Lib\site-packages\pandas\io\sql.py:1725: SAWarning: Did not recognize type 'geography' of column 'SpatialLocation'
  self.meta.reflect(bind=self.con, only=[table_name], views=True)
e:\Universidad\Ingenieria de Sistemas\6 - Sexto Semestre\Ciencia de los Datos\Proyecto\ETL-proyecto\my_env\Lib\site-packages\pandas\io\sql.py:1725: SAWarning: Did not recognize type 'hierarchyid' of column 'OrganizationNode'
  self.meta.reflect(bind=self.con, only=[table_name], views=True)
e:\Universidad\Ingenieria de Sistemas\6 - Sexto Semestre\Ciencia de los Datos\Proyecto\ETL-proyecto\my_env\Lib\site-packages\pandas\io\sql.py:1725: SAWarning: Did not recognize type 'geography' of column 'SpatialLocation'
  self.meta.reflect(bind=self.con, only=[table_name], views=True)
e:\Universidad\Ingenieria de Sistemas\6 - Sexto Semestre\Ciencia de los Datos\Proyecto\ETL-proyecto\my_env\Lib\site-packages\pandas\io\sql.py:1725: SAWarning: Did not recognize type 'hierarchyid' of column 'OrganizationNode'
  self.meta.reflect(bind=self.con, only=[table_name], views=True)
e:\Universidad\Ingenieria de Sistemas\6 - Sexto Semestre\Ciencia de los Datos\Proyecto\ETL-proyecto\my_env\Lib\site-packages\pandas\io\sql.py:1725: SAWarning: Did not recognize type 'hierarchyid' of column 'OrganizationNode'
  self.meta.reflect(bind=self.con, only=[table_name], views=True)
e:\Universidad\Ingenieria de Sistemas\6 - Sexto Semestre\Ciencia de los Datos\Proyecto\ETL-proyecto\my_env\Lib\site-packages\pandas\io\sql.py:1725: SAWarning: Did not recognize type 'hierarchyid' of column 'OrganizationNode'
  self.meta.reflect(bind=self.con, only=[table_name], views=True)
e:\Universidad\Ingenieria de Sistemas\6 - Sexto Semestre\Ciencia de los Datos\Proyecto\ETL-proyecto\my_env\Lib\site-packages\pandas\io\sql.py:1725: SAWarning: Did not recognize type 'hierarchyid' of column 'OrganizationNode'
  self.meta.reflect(bind=self.con, only=[table_name], views=True)
e:\Universidad\Ingenieria de Sistemas\6 - Sexto Semestre\Ciencia de los Datos\Proyecto\ETL-proyecto\my_env\Lib\site-packages\pandas\io\sql.py:1725: SAWarning: Did not recognize type 'hierarchyid' of column 'OrganizationNode'
  self.meta.reflect(bind=self.con, only=[table_name], views=True)

In [17]:
sales["Currency"].describe(include='all')

       CurrencyCode            Name         ModifiedDate
count           105             105                  105
unique          105             105                  NaN
top             AED  Emirati Dirham                  NaN
freq              1               1                  NaN
mean            NaN             NaN  2008-04-30 00:00:00
min             NaN             NaN  2008-04-30 00:00:00
25%             NaN             NaN  2008-04-30 00:00:00
50%             NaN             NaN  2008-04-30 00:00:00
75%             NaN             NaN  2008-04-30 00:00:00
max             NaN             NaN  2008-04-30 00:00:00

In [19]:
def transformDimCurrency(currency):
    dimCurrency = pd.DataFrame(columns=[
        "CurrencyKey", "CurrencyAlternateKey", "CurrencyName"
    ])
    
    dimCurrency["CurrencyAlternateKey"] = currency["CurrencyCode"] 
    dimCurrency["CurrencyName"] = currency["Name"] 
    dimCurrency["CurrencyKey"] = range(1, len(dimCurrency) + 1)
    
    return dimCurrency

In [20]:
dimCurrency = transformDimCurrency(sales["Currency"])
dimCurrency.head()

   CurrencyKey CurrencyAlternateKey                   CurrencyName
0            1                  AED                 Emirati Dirham
1            2                  AFA                        Afghani
2            3                  ALL                            Lek
3            4                  AMD                  Armenian Dram
4            5                  ANG  Netherlands Antillian Guilder